.btn-E12 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  color: var(--dark-color-text);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  border-radius: var(--border-radius);
  border: 2px solid hsl(0, 0%, 0%);
  overflow: hidden;
  z-index: var(--z-normal);

  &:hover {
    color: var(--color-text);

    &::before,
    &::after {
      transform: scaleX(1);
      transition: transform 0.3s;
    }
    &::before {
      transform-origin: right;
    }
    &::after {
      transform-origin: left;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 51%;
    height: 100%;
    background-color: hsl(0, 0%, 0%);
    z-index: -1;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  &::before {
    left: 0;
    transform-origin: left;
  }

  &::after {
    right: 0;
    transform-origin: right;
  }
}
