.btn-D4 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  color: var(--dark-color-text);
  border-radius: var(--border-radius);
  overflow: hidden;
  z-index: var(--z-normal);
  &:hover .span-D4-1::before {
    transform: rotateX(0) translateY(0);
  }
  &:hover .span-D4-1::after {
    transform: rotateX(90deg) translateY(50%);
  }

  &:hover .span-D4-2::before {
    transform: rotateX(0deg) translateY(0%);
  }
  &:hover .span-D4-2::after {
    transform: rotateX(90deg) translateY(-50%);
  }
}
.span-D4 {
  padding: 20px;
  position: relative;
}

.span-D4-1 {
  color: #ffffff;
  background-color: #262626;

  &::before {
    content: attr(data-attr);
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff3636;
    transform-origin: top;
    transform: rotateX(90deg) translateY(-50%);
  }
  &::after {
    content: attr(data-attr);
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #262626;
    transform-origin: bottom;
    transform: rotateX(0deg) translateY(0%);
  }
}

.span-D4-2 {
  color: #ffffff;
  background-color: #ff3636;
  &::before {
    content: attr(data-attr);
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #262626;
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(50%);
  }
  &::after {
    content: attr(data-attr);
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff3636;
    transform-origin: top;
    transform: rotateX(0deg) translateY(0%);
  }
}
