.btn-A4 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  color: var(--dark-color-text);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  border-left: 4px solid hsl(0, 0%, 0%);
  border-right: 4px solid hsl(0, 0%, 0%);
  overflow: hidden;
  z-index: var(--z-normal);

  &:hover {
    .span-E4-1 {
      width: 150px;
    }
    .span-E4-2 {
      width: 30px;
    }
    .span-E4-3 {
      width: 30px;
    }
    .span-E4-4 {
      width: 150px;
    }
  }
}
.span-E4 {
  display: block;
  height: 4px;
  background-color: #262626;
  position: absolute;
}

.span-E4-1 {
  top: 0px;
  left: 0;
  width: 30px;
}
.span-E4-2 {
  top: 0px;
  right: 0;
  width: 150px;
}
.span-E4-3 {
  bottom: 0px;
  left: 0;
  width: 150px;
}
.span-E4-4 {
  bottom: 0px;
  right: 0;
  width: 30px;
}
