.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn B-17 
    .body-wrap-btn.body-wrap-btn-B17   <!-- Equiqueta unica --> 
      a(href="/").btn-B17.boton Hover me! <!-- Equiqueta unica -->    
        
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
