.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn E-17
    .body-wrap-btn.body-wrap-btn-E17  <!-- Equiqueta unica --> 
      div.btn-E17
        svg.goo(xmlns='http://www.w3.org/2000/svg', version='1.1')
          defs
            filter#goo
              fegaussianblur(in='SourceGraphic', stdDeviation='10', result='blur')
              fecolormatrix(in='blur', mode='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9', result='goo')
              fecomposite(in='SourceGraphic', in2='goo')
        span.button--bubble__container
          a.button.button--bubble(href='#campaign')
            | Hover me!
          span.button--bubble__effect-container
            span.circle.top-left
            span.circle.top-left
            span.circle.top-left
            span.button.effect-button
            span.circle.bottom-right
            span.circle.bottom-right
            span.circle.bottom-right
            
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
