.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn C-17
    .body-wrap-btn.body-wrap-btn-C17  <!-- Equiqueta unica --> 
      a.btn-C17  <!-- Equiqueta unica -->       
        span.span-C17 Hover me!
    

    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
