.btn-E2 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  border-radius: var(--border-radius);
  border: 2px solid hsl(0, 0%, 0%);
  overflow: hidden;
  z-index: var(--z-normal);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff003b;
    transform: scaleX(0);
    z-index: -1;
    transform-origin: left;
  }
  &:hover::before {
    transform: scaleX(1);
  }
  &:hover .span-btn-E2 {
    color: var(--color-text);
  }
}

.span-btn-E2 {
  z-index: 1;
  color: var(--dark-color-text);
}
