$color-B7: rgb(9, 124, 231);

.btn-B7 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  color: var(--color-text);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  border-radius: var(--border-radius);
  overflow: hidden;
  z-index: var(--z-normal);
  background-color: $color-B7;
  border-radius: 2.5em;
  box-shadow: 0 0 0 5px hsl(0, 0%, 100%), 0 0 0 10px $color-B7;
  transition: 0.3s cubic-bezier(0.52, 1.65, 1, 1.31);

  &:hover {
    letter-spacing: 5px;
    box-shadow: 0 0 0 3px hsl(0, 0%, 100%), 0 0 0 8px $color-B7;
    transform: scaleY(0.9);
  }
}
