.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn B-1
    .body-wrap-btn.body-wrap-btn-B1  <!-- Equiqueta unica --> 
      a(href="/").btn-B1 <!-- Equiqueta unica -->    
        .wrapper-span-btn-B1
          span.face-span-btn-B1 Hover me!
          span.face-span-btn-B1 Hello world!!            
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
