.wrappers-grid
  .wraps-btn
    .header-wrap-btn
        p.tag-btn E-1
    .body-wrap-btn.body-wrap-btn-E1  <!-- Equiqueta unica --> 
      a(href="/").btn-E1 <!-- Equiqueta unica -->     
        span.span-btn-E1 Hover me!          
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
