.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn E-16
    .body-wrap-btn.body-wrap-btn-E16  <!-- Equiqueta unica --> 
      a(href="/").btn-E16 Hover me!<!-- Equiqueta unica -->     
         
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
