.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn A-13
    .body-wrap-btn.body-wrap-btn-A13  <!-- Equiqueta unica --> 
      a(href="/").btn-A13 Hover me! <!-- Equiqueta unica -->
               
    .footer-wrap-btn
