.btn-C1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: hsl(332, 90%, 65%);
  color: var(--text-color);
  padding: var(--normal-paddings);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: 0.2s;

  &:hover {
    background: hsl(332, 90%, 70%);
    box-shadow: 5px 5px 10px rgba(95, 95, 95, 0.5);
    transform: translateY(-3px);
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    background-color: hsla(0, 0%, 100%, 0.3);
    width: 50px;
    height: 50px;
    opacity: 0;
    border-radius: 50%;
  }

  &:before {
    animation: pull 1.5s linear infinite;
  }

  &:after {
    animation: pull 2s 0.5s linear infinite;
  }

  &:hover::before,
  &:hover::after {
    display: none;
  }
}

@keyframes pull {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}
