.btn-A1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width-btn);
  height: var(--height-btn);
  background-color: hsl(0, 0%, 85%);
  border-radius: var(--border-radius);
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    width: 20%;
    height: 100%;
    background-color: hsl(0, 0%, 80%);
    transform: skewX(25deg);
    transition: 0.25s cubic-bezier(0.175, 0.985, 0.32, 1.275);
  }
  &:hover::before {
    width: 100%;
    height: 100%;
    transform: skewX(0deg);
  }

  &::after {
    content: "Hover me!";
    display: block;
    position: absolute;
    font-family: var(--body-font);
    font-weight: 600;
    font-size: var(--normal-font-size);
    color: hsl(0, 0%, 0%);
  }
}
