.btn-B8 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  color: var(--color-text);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  border: 5px solid hsl(0, 0%, 0%);
  border-radius: var(--border-radius);
  overflow: hidden;
  z-index: var(--z-normal);
  background-color: var(--color-dark-bg);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 1);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.1);
    transform: skewX(-15deg);
  }

  &::before {
    left: -10px;
    width: 100px;
    transition: 0.8s;
  }

  &::after {
    left: -70px;
    width: 50px;
    transition: 0.5s;
    transition-delay: 0.3s;
  }

  &:hover::before,
  &:hover::after {
    left: 110%;
  }
}
