.btn-D8 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  color: var(--dark-color-text);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: var(--border-radius);
  overflow: hidden;
  z-index: var(--z-normal);
}
