.btn-C8 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  color: var(--color-text);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 400;
  z-index: var(--z-normal);
  background-color: #ff0e60;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  transform: perspective(1000px);

  &:hover {
    animation: animation_C8 3s ease-in-out infinite;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #b7003e;
    transform-origin: top center;
    transform: perspective(1000px) rotateX(-90deg);
  }

  &:before {
    top: 100%;
    backface-visibility: hidden;
  }

  &:after {
    top: 0;
  }

  &:hover:before {
    animation: animation_C8_before 3s ease-in-out infinite;
  }
  &:hover:after {
    animation: animation_C8_after 3s ease-in-out infinite;
  }
}

@keyframes animation_C8 {
  0%,
  100% {
    transform: perspective(1000px) rotateX(35deg);
  }
  50% {
    transform: perspective(1000px) rotateX(-35deg);
  }
}

@keyframes animation_C8_before {
  0%,
  100% {
    transform: perspective(1000px) rotateX(-70deg);
  }
  50% {
    transform: perspective(1000px) rotateX(-120deg);
  }
}

@keyframes animation_C8_after {
  0%,
  100% {
    transform: perspective(1000px) rotateX(-90deg);
  }
  50% {
    transform: perspective(1000px) rotateX(-105deg);
  }
}
