link(rel="stylesheet", href="css/normalize.css")
link(rel="stylesheet", href="css/font-Montserrat.css")
link(rel="stylesheet", href="css/font-Confortaa.css")
link(rel="shortcut icon", href="static/content/svg/logo.svg", type="image/x-icon")
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
//- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Comfortaa:600|Montserrat:200i,400,600")