meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="title" content="Effects and animation for buttons with Css and JavaScript" class="next-head")
meta(name="description" content="Repositorio lleno de botonoes con diversoso efectos y estructuras con Pug y SCSS" class="next-head")
