.btn-E3 {
  display: block;
  position: relative;
  color: var(--color-text);
  padding: var(--normal-paddings);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 200;
  border-radius: var(--border-radius);
  // overflow: hidden;
  z-index: var(--z-normal);
  text-transform: uppercase;
  letter-spacing: 5px;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    background-color: #28caff;
    opacity: 0.7;
    z-index: -1;
    mix-blend-mode: multiply;
    transform-origin: top;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    right: -3px;
    width: 100%;
    height: 100%;
    background-color: #ff0606;
    opacity: 0.7;
    z-index: -1;
    mix-blend-mode: multiply;
    transform-origin: bottom;
  }
  &:hover {
    color: var(--dark-color-text);
  }
  &:hover:before {
    top: -6px;
    left: 0;
    transform: perspective(1000px) rotateX(80deg);
  }
  &:hover:after {
    bottom: -6px;
    right: 0;
    transform: perspective(1000px) rotateX(-80deg);
  }
}
