.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn D-20
    .body-wrap-btn.body-wrap-btn-D20  <!-- Equiqueta unica --> 
      a(href="/").btn-D20 Hover me! <!-- Equiqueta unica -->               
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
