.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn A-20
    .body-wrap-btn.body-wrap-btn-A20  <!-- Equiqueta unica --> 
      a(href="/").btn-A20 Hover me! <!-- Equiqueta unica -->
               
    .footer-wrap-btn
