.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn B-9
    .body-wrap-btn.body-wrap-btn-B9  <!-- Equiqueta unica -->
      a(href="/").btn-B9 <!-- Equiqueta unica -->
        span.span-B9(data-text='Btn-B9') Btn-B9
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
