$bg-color-E11: hsl(350, 100%, 50%);
$time: 0.7s;

.btn-E11 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  color: var(--dark-color-text);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  border-radius: var(--border-radius);
  border: 2px solid hsl(0, 0%, 0%);
  overflow: hidden;
  z-index: var(--z-normal);

  &:hover {
    background-color: $bg-color-E11;
    transition: 0.1s;
    transition-delay: $time;
    color: white;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1);
    width: 10px;
    height: 10px;
    background-color: $bg-color-E11;
    border-radius: 50%;
    z-index: -1;
  }
  &::before {
    left: 100%;
  }
  &:hover:before {
    animation: animatio_E11_before $time ease forwards;
  }

  &::after {
    right: 100%;
  }
  &:hover::after {
    animation: animatio_E11_after $time ease forwards;
  }
}

@keyframes animatio_E11_before {
  0% {
    left: 100%;
  }
  50% {
    left: 20px;
    transform: translateY(-50%) scale(1);
  }
  51% {
    left: 20px;
    transform: translateY(-50%) scale(1);
  }
  100% {
    transform: translateY(-50%) scale(20);
    left: 20px;
  }
}

@keyframes animatio_E11_after {
  0% {
    right: 100%;
  }
  50% {
    right: 20px;
    transform: translateY(-50%) scale(1);
  }
  51% {
    right: 20px;
    transform: translateY(-50%) scale(1);
  }
  100% {
    transform: translateY(-50%) scale(20);
    right: 20px;
  }
}
