.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn C-13
    .body-wrap-btn.body-wrap-btn-C13  <!-- Equiqueta unica --> 
      a(href="/").btn-C13  <!-- Equiqueta unica -->               
        span.span-C13 Hover me!
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
