.btn-D16 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  background-color: hsl(0, 0%, 85%);
  border-radius: var(--border-radius);
  border: 2px solid #000000;
  overflow: hidden;
}
