.btn-A14 {
  position: relative;
  display: block;
  color: var(--dark-color-text);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  width: 200px;
  height: 50px;
  z-index: var(--z-normal);
}

.trapdoor-A14 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -25px;
  width: 200px;
  height: 50px;
  box-shadow: inset -7px 0px 12px -8px hsla(0, 0%, 0%, 0.3),
    inset 7px 0px 12px -8px hsla(0, 0%, 0%, 0.3);
  background: hsla(0, 0%, 0%, 0.3);
  transition: background 0.4s ease-in-out;

  &:hover {
    background: #fff;

    .door-A14 {
      box-shadow: 0px 0px 10px -2px hsla(0, 0%, 0%, 0.4);
      transform: scale(1.08);
    }

    .top-A14 {
      top: -50%;
    }

    .bottom-A14 {
      top: 100%;
    }
  }

  .twitter-follow-button {
    margin-left: -77px;
    position: absolute !important;
    margin-top: -14px;
    left: 50%;
    top: 50%;
  }
}

.top-A14 {
  top: 0%;
  left: 0px;

  &:before {
    top: 5px;
  }
}

.bottom-A14 {
  top: 50%;
  left: 0px;

  &:before {
    top: -20px;
  }
}

.door-A14 {
  transition: top 400ms, box-shadow 200ms, transform 300ms;
  transition-timing-function: ease-in-out;
  background-color: #fff;
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  border-left: 1px solid #4099ff;
  border-right: 1px solid #4099ff;

  height: 50%;

  &:before {
    font-family: "tweet", sans-serif;
    position: absolute;
    margin-left: -20px;
    font-size: 35px;
    display: block;
    color: #4099ff;
    content: "\e000";
    width: 0px;
    height: 20px;
    left: 52%;
  }
}

@font-face {
  font-family: "tweet";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/277/tweet.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
