/* ########################### */
/* ###### GLOBAL STYLES ###### */
/* ########################### */
:root {
  /*--- Typography variables ---*/
  --body-font: 'Montserrat', sans-serif;
  --heading-font: 'Comfortaas', sans-serif;
  /*--- Sizes variables ---*/
  --h1-font-size: 3rem;
  --h2-font-size: 2.75rem;
  --h3-font-size: 2.5rem;
  --normal-font-size: 1.25rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.75rem;
  --heading-height: 4.5em;
  --body-line-height: 1.6;
  --border-radius: 0.25rem;
  --normal-paddings:1em 2.5em;
  --gap: 1rem;
  /*--- Colors variables ---*/
  --color-first: hsl(205, 100%, 70%);
  --first-color: var(--color-first);
  --color-second: hsl(215, 100%, 70%);
  --second-color: var(--color-second);
  --color-text: hsl(0, 0%, 100%);
  --text-color: var(--color-text);
  --color-body-bg:hsl(0, 0%, 96%);
  --body-bg: var(--color-body-bg);
  --color-dark-bg: hsl(0, 0%, 70%);
  --bg-color-dark: var(--color-dark-bg);
  /*--- Z-index variables ---*/
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  counter-reset: section;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  background-color: var(--first-color);
  height: var(--heading-height);
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1800px;
  width: 100%;
  height: 100%;
}

.link-logo {
  text-decoration: none;
  display: block;
}

.svg-logo {
  display: block;
  width: auto;
  height: var(--h1-font-size);
}

.main-title {
  color: var(--text-color);
  font-weight: 400;
  font-size: var(--h1-font-size);
  font-family: var(--heading-font);
  font-weight: 200;
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--body-bg);
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-color-dark);
}

.wrapper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1800px;
  width: 100%;
  height: 1.5rem;
}

.text-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--smaller-font-size);
  letter-spacing: 2px;
}

.text-footer::after {
  content: url(public/img/favicon.svg);
  display: block;
  width: var(--small-font-size);
  margin-left: 5px;
}

/* ----------------------------------- */
/* --- CSS structure of the button --- */
/* ----------------------------------- */
.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  background-color: #f655a0;
  color: var(--text-color);
  padding: var(--normal-paddings);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border-radius: var(--border-radius);
  overflow: hidden;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.btn:hover {
  background: #f76eae;
  -webkit-box-shadow: 5px 5px 10px rgba(95, 95, 95, 0.5);
  box-shadow: 5px 5px 10px rgba(95, 95, 95, 0.5);
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.btn:before, .btn:after {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  width: 50px;
  height: 50px;
  opacity: 0;
  border-radius: 50%;
}

.btn:before {
  -webkit-animation: pull 1.5s linear infinite;
  animation: pull 1.5s linear infinite;
}

.btn:after {
  -webkit-animation: pull 2s .5s linear infinite;
  animation: pull 2s .5s linear infinite;
}

.btn:hover::before, .btn:hover::after {
  display: none;
}

@-webkit-keyframes pull {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes pull {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
  }
}
