*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  counter-reset: section;
}

a {
  position: relative;
  text-decoration: none;
  color: hsl(0, 0%, 10%);
  font-weight: 600;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  cursor: pointer;
}
