.tag-btn {
  position: relative;
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--smaller-font-size);
  font-weight: 600;
  background-color: hsl(0, 0%, 60%);
  padding: var(--smaller-padding);
  border-radius: var(--border-radius);
  z-index: var(--z-normal);
  cursor: pointer;

  &:hover {
    background-color: hsl(0, 0%, 75%);
  }
}
