:root {
  /*--- Typography variables ---*/
  --body-font: "Montserrat", sans-serif;
  --heading-font: "Comfortaas", sans-serif;

  /*--- Sizes variables ---*/
  --h1-font-size: 2.5rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 2rem;
  --normal-font-size: 1.25rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.75rem;
  --heading-height: 4.5em;
  --body-line-height: 1.6;
  --border-radius: 0.25rem;
  --normal-paddings: 1em 2.5em;
  --smaller-padding: 3px 6px;
  --gap: 1.5rem;
  --max-w: 1700px;
  --MW-wrappers-grid: 320px;
  --MH-wrappers-grid: 200px;
  --width-btn: 10.22em;
  --height-btn: 3.11em;
  /*--- Colors variables ---*/
  --color-first: hsl(355, 63%, 30%);
  --first-color: var(--color-first);

  --color-second: hsl(355, 83%, 45%);
  --second-color: var(--color-second);

  --color-text: hsl(0, 0%, 100%);
  --text-color: var(--color-text);
  --dark-color-text: hsl(0, 0%, 10%);
  --dark-text-color: var(--dark-color-text);

  --color-body-bg: hsl(0, 0%, 96%);
  --body-bg: var(--color-body-bg);

  --color-dark-bg: hsl(0, 0%, 15%);
  --bg-color-dark: var(--color-dark-bg);

  /*--- Z-index variables ---*/
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
