.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn C-7
    .body-wrap-btn.body-wrap-btn-C7  <!-- Equiqueta unica --> 
      a(href="/").btn-C7 Hover me! <!-- Equiqueta unica -->  
        span.span-btn-C7-1.span-btn-C7
        span.span-btn-C7-2.span-btn-C7
        span.span-btn-C7-3.span-btn-C7
        span.span-btn-C7-4.span-btn-C7
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
