.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn D-7
    .body-wrap-btn.body-wrap-btn-D7  <!-- Equiqueta unica --> 
      a(href="/").btn-D7 Hover me! <!-- Equiqueta unica -->

    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
