.btn-A9 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  color: #555;
  background-color: #00072f;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  // border: 2px solid hsl(0, 0%, 0%);
  border-radius: 2.5em;
  overflow: hidden;
  z-index: var(--z-normal);

  &:hover {
    color: #ffffff;
    box-shadow: -5px 0 30px rgb(231, 20, 147), -5px 0 30px hsl(269, 100%, 50%);
    text-shadow: 0 0 10px hsla(0, 0%, 100%, 0.5),
      0 0 20px hsla(0, 0%, 100%, 0.5), 0 0 30px hsla(0, 0%, 100%, 0.5);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 2.5em;
    height: 3em;
    background-color: hsla(0, 0%, 100%, 0);
    border-radius: 50%;
    filter: blur(5px);
    mix-blend-mode: lighten;
    z-index: -1;
  }

  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }

  &:hover::before {
    background-color: hsl(324, 84%, 49%);
    transform: scaleX(4);
  }
  &:hover::after {
    background-color: hsl(269, 100%, 50%);
    transform: scaleX(4);
  }
}
