.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn B-10
    .body-wrap-btn.body-wrap-btn-B10  <!-- Equiqueta unica -->
      a(href="/").btn-B10  <!-- Equiqueta unica -->
        span.span-B10-1.span-B10 Hover me!
        span.span-B10-2.span-B10 Hover me!
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
