.btn-D9 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  font-weight: 600;
  border: 2px solid hsl(0, 0%, 0%);
  // border-radius: var(--border-radius);
  overflow: hidden;
  z-index: var(--z-normal);
  background-color: var(--color-body-bg);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    background-color: var(--color-dark-bg);
    transform: skewX(-15deg);
    animation: animation_D9 3s linear infinite;
  }

  &:hover::before {
    width: 100%;
    transform: skewX(0);
    animation: none;
  }
}

.span-D9 {
  font-size: var(--normal-font-size);
  color: var(--color-text);
  mix-blend-mode: difference;
}

@keyframes animation_D9 {
  0% {
    left: -70px;
  }
  100% {
    left: calc(100% + 10px);
  }
}
