.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn C-15
    .body-wrap-btn.body-wrap-btn-C15  <!-- Equiqueta unica --> 
      a(href="/").btn-C15 <!-- Equiqueta unica -->       
        .social-btns-C15
          a.social-btn-C15.twitter-btn-C15(href='#')
            i.fa.fa-twitter
          a.social-btn-C15.google-btn-C15(href='#')
            i.fa.fa-google


    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
