.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn A-10
    .body-wrap-btn.body-wrap-btn-A10  <!-- Equiqueta unica --> 
      a(href="/").btn-A10 Hover me!  <!-- Equiqueta unica --> 
        span.span-A10-1.span-A10
        span.span-A10-2.span-A10
        span.span-A10-3.span-A10
        span.span-A10-4.span-A10
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
