.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn C-10
    .body-wrap-btn.body-wrap-btn-C10  <!-- Equiqueta unica --> 
      a(href="/").btn-C10 <!-- Equiqueta unica -->  
        span.span-C10-1.span-C10(data-text='B') B
        span.span-C10-2.span-C10(data-text='t') t
        span.span-C10-3.span-C10(data-text='n') n
        span.span-C10-4.span-C10(data-text='-') -
        span.span-C10-5.span-C10(data-text='C') C
        span.span-C10-6.span-C10(data-text='1') 1
        span.span-C10-7.span-C10(data-text='0') 0
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
