.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn E-18
    .body-wrap-btn.body-wrap-btn-E18  <!-- Equiqueta unica --> 
      a(href="/").btn-E18 Hover me! <!-- Equiqueta unica -->     
             
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
