.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn D-4
    .body-wrap-btn.body-wrap-btn-D4  <!-- Equiqueta unica --> 
      a(href="/").btn-D4 <!-- Equiqueta unica -->  
        span.span-D4-1.span-D4(data-attr="Hover") Hover
        span.span-D4-2.span-D4(data-attr="me!") me!
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
