.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn A-17
    .body-wrap-btn.body-wrap-btn-A17  <!-- Equiqueta unica --> 
      a(href="/").btn-A17  Hover me! <!-- Equiqueta unica -->
               
    .footer-wrap-btn
