.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn C-3
    .body-wrap-btn.body-wrap-btn-C3  <!-- Equiqueta unica --> 
      a(href="/" title="HoverMe!").btn-C3 HoverMe! <!-- Texto necesario SOLO para alineacion en el contenedor -->  
     
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
