.wrappers-grid
  .wraps-btn
    .header-wrap-btn
        p.tag-btn B-2
    .body-wrap-btn.body-wrap-btn-B2  <!-- Equiqueta unica -->
      a(href="/").btn-B2 Hover me! <!-- Equiqueta unica -->
        span.span-btn-B2
        span.span-btn-B2
        span.span-btn-B2
        span.span-btn-B2       
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
