.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn A-2
    .body-wrap-btn.body-wrap-btn-A2  <!-- Equiqueta unica --> 
      a(href="/").btn-A2 Hover me!  <!-- Equiqueta unica --> 
        span.span-btn-A2
        span.span-btn-A2
        span.span-btn-A2
        span.span-btn-A2
               
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
