.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn C-2
    .body-wrap-btn.body-wrap-btn-C2  <!-- Equiqueta unica --> 
      a(href="/").btn-C2 Hover me! <!-- Equiqueta unica -->  
        span.span-btn-C2
        span.span-btn-C2
        span.span-btn-C2
        span.span-btn-C2         
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
