.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn A-12
    .body-wrap-btn.body-wrap-btn-A12  <!-- Equiqueta unica --> 
      a(href="/").btn-A12 Hover me! <!-- Equiqueta unica -->
               
    .footer-wrap-btn
