.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn D-5
    .body-wrap-btn.body-wrap-btn-D5  <!-- Equiqueta unica --> 
      a(href="/").btn-D5 Hover me!<!-- Equiqueta unica -->  
        span.span-D5
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
