.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn B-4
    .body-wrap-btn.body-wrap-btn-B4  <!-- Equiqueta unica -->
      a(href="/").btn-B4  <!-- Equiqueta unica -->
        span.span-B4
          span.span-B4-inner: h4 HoverMe!
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
