.section-main-grid-columns {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-w);
  grid-gap: var(--gap);
  width: 100%;
  padding-bottom: calc(var(--heading-height) + 3em);
}

.wrappers-grid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  width: var(--MW-wrappers-grid);
  height: var(--MH-wrappers-grid);
  overflow: hidden;
  z-index: var(--z-normal);
  box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.25);
}

.wraps-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: var(--z-normal);
}

.header-wrap-btn {
  position: absolute;
  top: 0;
  left: 0;
}

.body-wrap-btn {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
video,
img {
  width: var(--MW-wrappers-grid);
  height: var(--MH-wrappers-grid);
}
