.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn E-11
    .body-wrap-btn.body-wrap-btn-E11  <!-- Equiqueta unica --> 
      a(href="/").btn-E11 Hover me! <!-- Equiqueta unica -->     
       
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
