.btn-D16 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  background-color: #6a89cc;
  color: var(--color-text);
  transform-style: preserve-3d;
  perspective: 800px;

  &:hover {
    transform: rotateX(-20deg);
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: -24px;
    width: 100%;
    height: 24px;
    background-color: #4a69bd;
    transform-origin: 0 100%;
    transform: rotateX(90deg);
  }
}
