.btn-E16 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  background-color: none;
  border-radius: var(--border-radius);
  border: 2px solid #3498db;
  overflow: hidden;
  z-index: var(--z-normal);
  color: #3498db;
  font-weight: 400;

  &:hover {
    color: var(--color-text);

    &::before {
      height: 180%;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #3498db;
    border-radius: 0 0 50% 50%;
    z-index: -1;
  }
}
