.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn A-9
    .body-wrap-btn.body-wrap-btn-A9  <!-- Equiqueta unica --> 
      a(href="/").btn-A9 Hover me!  <!-- Equiqueta unica --> 
               
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
