.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn A-8
    .body-wrap-btn.body-wrap-btn-A8  <!-- Equiqueta unica --> 
      a(href="/").btn-A8 Hover me!  <!-- Equiqueta unica --> 
               
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
