.btn-B15 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  border-radius: var(--border-radius);
  border: 2px solid hsl(0, 0%, 0%);
  overflow: hidden;
  z-index: var(--z-normal);
  text-transform: uppercase;
  background-color: #222;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s ease-in-out;
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  &:hover:after {
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }
}

.span-B15 {
  position: relative;
  z-index: 1;
  color: var(--color-text);
}
