.wrappers-grid
  .wraps-btn
    .header-wrap-btn
        p.tag-btn D-2
    .body-wrap-btn.body-wrap-btn-D1  <!-- Equiqueta unica --> 
      a(href="/").btn-D2 Hover me! <!-- Equiqueta unica -->  
        span.span-btn-D2
        span.span-btn-D2
        span.span-btn-D2
        span.span-btn-D2               
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
