.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn A-15
    .body-wrap-btn.body-wrap-btn-A15  <!-- Equiqueta unica --> 
      a(href="/").btn-A15 <!-- Equiqueta unica -->
        .container-btn-A15
          .wrap-btn-A15
            a(href='#', target='_blank').link-btn-A15
              span.span-A15-1.span-A15 Hover me!
              span.span-A15-2.span-A15 Hello word!

    .footer-wrap-btn
