$color-D7: rgb(99, 231, 99);
$bg-color-D7: rgb(99, 231, 198);

.btn-D7 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  color: var(--color-text);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  z-index: var(--z-normal);
  background-color: $color-D7;

  &:hover {
    letter-spacing: 1px;
    background-color: $bg-color-D7;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.6em;
    background-color: transparent;
    border: 1.6em solid transparent;
    border-right: 1.6em solid $color-D7;
    border-left: none;
    transform-origin: right;
    transform: rotateY(90deg);
  }
  &:hover::before {
    transform: rotateY(0deg);
    border-right-color: $bg-color-D7;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -1.6em;
    background-color: transparent;
    border: 1.6em solid transparent;
    border-left: 1.6em solid $color-D7;
    border-right: none;
    transform-origin: left;
    transform: rotateY(90deg);
  }
  &:hover::after {
    transform: rotateY(0deg);
    border-left-color: $bg-color-D7;
  }
}
