.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn A-14
    .body-wrap-btn.body-wrap-btn-A14  <!-- Equiqueta unica --> 
      a(href="/").btn-A14 Hover me! <!-- Equiqueta unica -->
               
    .footer-wrap-btn
