.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn D-14
    .body-wrap-btn.body-wrap-btn-D14  <!-- Equiqueta unica --> 
      a(href="/").btn-D14 Hover me! <!-- Equiqueta unica -->               
    
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
