.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn A-16
    .body-wrap-btn.body-wrap-btn-A16  <!-- Equiqueta unica --> 
      a(href="/").btn-A16 Hover me! <!-- Equiqueta unica -->
               
    .footer-wrap-btn
