.principal-section {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--color-first);
  height: var(--heading-height);
  margin-bottom: calc(var(--heading-height) - 2em);
}
.main-nav {
  position: relative;
  max-width: var(--max-w);
  height: var(--heading-height);
  margin: 0 50px;
  background-color: inherit;
}
.main-nav {
  display: flex;
  flex-direction: row;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-w);
  width: 100%;
  height: 100%;
}

.main-logo {
  text-decoration: none;
  display: block;
}

.svg-logo {
  display: block;
  width: auto;
  height: calc(var(--h1-font-size) + 1em);
}

.main-title {
  color: var(--text-color);
  font-weight: 400;
  font-size: var(--h1-font-size);
  font-family: var(--heading-font);
  font-weight: 200;
}
