.btn-D5 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  background-color: white;
  color: var(--dark-color-text);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  z-index: var(--z-normal);
}

.btn-D5::before,
.btn-D5::after,
.span-D5::before,
.span-D5::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(135, 35, 202);
  mix-blend-mode: hue;
}

.btn-D5::before {
  top: -2px;
  left: -2px;
}
.btn-D5::after {
  top: -2px;
  right: -2px;
}

.span-D5::before {
  bottom: -2px;
  left: -2px;
}
.span-D5::after {
  bottom: -2px;
  right: -2px;
}

.btn-D5:hover::before,
.btn-D5:hover::after,
.btn-D5:hover .span-D5::before,
.btn-D5:hover .span-D5::after {
  width: calc(10em / 2);
  height: calc(3em / 2);
}
