.btn-C5 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  color: var(--dark-color-text);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border-radius: var(--border-radius);
  font-weight: 600;
  border: 2px solid hsl(0, 0%, 0%);
  overflow: hidden;
  z-index: var(--z-normal);
  &:hover {
    color: var(--color-text);
  }

  &:hover .span-btn-C5:nth-child(1) {
    transform: scalex(1);
  }
  &:hover .span-btn-C5:nth-child(2) {
    transform: scaley(1);
  }
  &:hover .span-btn-C5:nth-child(3) {
    transform: scaley(1);
  }
  &:hover .span-btn-C5:nth-child(4) {
    transform: scalex(1);
  }
}

.span-btn-C5 {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 26%;
  height: 100%;
  transition: transform 0.2s;
  z-index: var(--z-back);

  &:nth-child(1) {
    background-image: linear-gradient(
      90deg,
      hsl(340, 100%, 50%),
      hsl(320, 100%, 50%)
    );
    left: 0%;
    transform-origin: left;
    transform: scaleX(0);
  }
  &:nth-child(2) {
    background-image: linear-gradient(
      90deg,
      hsl(320, 100%, 50%),
      hsl(300, 100%, 50%)
    );
    left: 25%;
    transform-origin: top;
    transform: scaley(0);
  }
  &:nth-child(3) {
    background-image: linear-gradient(
      90deg,
      hsl(300, 100%, 50%),
      hsl(280, 100%, 50%)
    );
    left: 50%;
    transform-origin: bottom;
    transform: scaley(0);
  }
  &:nth-child(4) {
    background-image: linear-gradient(
      90deg,
      hsl(280, 100%, 50%),
      hsl(260, 100%, 50%)
    );
    left: 75%;
    transform-origin: right;
    transform: scaleX(0);
  }
}
