.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn C-9
    .body-wrap-btn.body-wrap-btn-C9  <!-- Equiqueta unica --> 
      a(href="/").btn-C9  <!-- Equiqueta unica -->  
        span.span-C9-front.span-C9 Hover me!
        span.span-C9-center.span-C9
        span.span-C9-back.span-C9 Hello World!
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
