.btn-B3 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  color: var(--dark-color-text);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 400;
  border-top: 3px solid hsl(0, 0%, 0%);
  border-bottom: 3px solid hsl(0, 0%, 0%);
  overflow: hidden;
  z-index: var(--z-normal);

  &:hover {
    animation: animate_B3 0.3s;
    letter-spacing: 4px;
  }
}

@keyframes animate_B3 {
  0% {
    letter-spacing: 0px;
  }
  50% {
    letter-spacing: -4px;
  }
  100% {
    letter-spacing: 4px;
  }
}
