.btn-B4 {
  display: block;
  position: relative;
  color: var(--dark-color-text);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  z-index: var(--z-normal);
}

.span-B4 {
  display: block;
  background-color: #252525;
  width: var(--width-btn);
  height: var(--height-btn);
  padding: 4px;
  box-sizing: border-box;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
  }

  &:hover::before {
    left: 0;
  }
  &:hover::after {
    right: 0;
  }
  &:hover .span-B4-inner::before {
    left: 0;
  }
  &:hover .span-B4-inner::after {
    right: 0;
  }

  &:hover h4 {
    color: #ffffff;
  }
}

.span-B4-inner {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background-color: #262626;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background-color: #262626;
    z-index: var(--z-normal);
  }
}

h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: var(--z-tooltip);
}
