$color-C14: #1aab8a;

.btn-C14 {
  display: block;
  position: relative;
  padding: var(--normal-paddings);
  color: var(--color-text);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  overflow: hidden;
  z-index: var(--z-normal);
  background-color: $color-C14;

  &:hover {
    background: #fff;
    color: $color-C14;

    &:before,
    &:after {
      width: 100%;
      transition: 0.8s;
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 3px;
    width: 0;
    background: $color-C14;
    transition: 0.4s;
  }
  &:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
}
