li.btn-D14 {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  font-size: 50px;
  transform: rotate(45deg);
  overflow: hidden;
  transition: all 0.5s ease-in;

  &:hover {
    transform: rotate(765deg);
    &:after {
      right: 0%;
    }
    .link.btn-D14 {
      transform: rotate(-765deg);
    }
  }
  &:before,
  &:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    background: #22a7f0;
  }
  &:before {
    width: 50%;
    z-index: -2;
  }
  &:after {
    width: 100%;
    border-radius: 50%;
    top: 0;
    right: 50%;
    z-index: -3;
    transition: all 0.5s ease-in-out;
    opacity: 0.5;
  }
}

.link.btn-D14 {
  color: white;
  margin: auto;
  text-shadow: 0 2px 0 rgb(2, 2, 2);
  transform: rotate(-45deg);
  transition: all 0.5s ease-in;
  font-size: 1em;
}
