.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn A-4
    .body-wrap-btn.body-wrap-btn-A4  <!-- Equiqueta unica --> 
      a(href="/").btn-A4 Hover me!  <!-- Equiqueta unica --> 
        span.span-E4.span-E4-1
        span.span-E4.span-E4-2
        span.span-E4.span-E4-3
        span.span-E4.span-E4-4
               
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
