<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Longboard shop</title>
  </head>
  <body>
    nav 
      include partials/menu.pug

    h1 Hello world!
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    img(src='static/img/logo.png', alt='Webpack')
    
    include partials/footer.pug

  </body>
</html>
