<!DOCTYPE html>
html(lang="es")
  head
    include template\components\index-pug-components\head-metaTags.pug
    include template\components\index-pug-components\head-link.pug
    title JD - Effects and animations for buttons 

  body
    .principal-section
      main.main
        include template\components\index-pug-components\header.pug
        
        section.section-main-grid-columns

          //- Grid-Row ==> 1
          include template\layout\grid-row-1\main-grid-row-1.pug
          
          //- Grid-Row ==> 2
          include template\layout\grid-row-2\main-grid-row-2.pug

          //- Grid-Row ==> 3
          include template\layout\grid-row-3\main-grid-row-3.pug

          //- Grid-Row ==> 4
          include template\layout\grid-row-4\main-grid-row-4.pug

          //- Grid-Row ==> 5
          include template\layout\grid-row-5\main-grid-row-5.pug

          //- Grid-Row ==> 6
          include template\layout\grid-row-6\main-grid-row-6.pug

          //- Grid-Row ==> 7
          include template\layout\grid-row-7\main-grid-row-7.pug

          //- Grid-Row ==> 8
          include template\layout\grid-row-8\main-grid-row-8.pug

          //- Grid-Row ==> 9
          include template\layout\grid-row-9\main-grid-row-9.pug
          
          //- Grid-Row ==> 10
          include template\layout\grid-row-10\main-grid-row-10.pug

          //- Grid-Row ==> 11
          include template\layout\grid-row-11\main-grid-row-11.pug

          //- Grid-Row ==> 12
          include template\layout\grid-row-12\main-grid-row-12.pug

          //- Grid-Row ==> 13
          include template\layout\grid-row-13\main-grid-row-13.pug

          //- Grid-Row ==> 14
          include template\layout\grid-row-14\main-grid-row-14.pug

          //- Grid-Row ==> 15
          include template\layout\grid-row-15\main-grid-row-15.pug

          //- Grid-Row ==> 16
          include template\layout\grid-row-16\main-grid-row-16.pug

          //- Grid-Row ==> 17
          include template\layout\grid-row-17\main-grid-row-17.pug

          //- Grid-Row ==> 18
          include template\layout\grid-row-18\main-grid-row-18.pug

          //- Grid-Row ==> 19
          include template\layout\grid-row-19\main-grid-row-19.pug

          //- Grid-Row ==> 20
          include template\layout\grid-row-20\main-grid-row-20.pug

        include template\components\index-pug-components\footer.pug
        
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    script(src="public/JS/scripts.js")
