<!DOCTYPE html>
html(lang="es")
  head
    include partials\components\index-pug-components\head-metaTags.pug
    include partials\components\index-pug-components\head-link.pug
    title JD

  body
    .principal-section
      main.main
        include partials\components\index-pug-components\header.pug
        
        section.section-main-grid-columns

          //- Grid-Row ==> 1
          include partials\layout\grid-row-1\main-grid-row-1.pug

          video(controls='')
            source#arrows(src='static/content/mp4/mp4.mp4', type='video/mp4')

          img(src="static/content/img/img.jpg", alt="")
          
          audio(src="static/content/mp3/mp3.mp3", controls='controls')
        include partials\components\index-pug-components\footer.pug