<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="title" content="Effects and animation for buttons with Css and JavaScript" class="next-head")
    meta(name="description" content="Repositorio lleno de botonoes con diversoso efectos y estructuras con Pug y SCSS" class="next-head")

    title JD - Effects and animations for buttons 

    link(rel="stylesheet", href="public/css/normalize.css")
    link(rel="stylesheet", href="public/css/font-Montserrat.css")
    link(rel="stylesheet", href="public/css/font-Confortaa.css")
    link(rel="shortcut icon", href="public/svg/favicon.svg", type="image/x-icon")
    link(rel="stylesheet", href="public/css/styles.css")

  body
    .principal-section
      main.main
        header.main-header
          nav.main-nav
            a(href="/").main-logo
              img(src="public/svg/logo.svg", alt="").svg-logo
            h1.main-title Effects and animations for buttons 

        
        section.section-main-grid-columns
          //- Grid-Row ==> 1
          include pages/layout/grid-row-1/row-A1.pug
          include pages/layout/grid-row-1/row-B1.pug
          include pages/layout/grid-row-1/row-C1.pug
          include pages/layout/grid-row-1/row-D1.pug
          include pages/layout/grid-row-1/row-E1.pug
          //- Grid-Row ==> 2
          include pages/layout/grid-row-2/row-A2.pug            
          include pages/layout/grid-row-2/row-B2.pug
          include pages/layout/grid-row-2/row-C2.pug
          include pages/layout/grid-row-2/row-D2.pug
          include pages/layout/grid-row-2/row-E2.pug
        footer.main-footer
          .wrapper-footer
            p.text-footer#textFooter

    script(src="public/JS/scripts.js")
