<!DOCTYPE html>
html(lang="es")
  head
    include template\components\index-pug-components\head-metaTags.pug
    include template\components\index-pug-components\head-link.pug
    title JD - Effects and animations for buttons 

  body
    .principal-section
      main.main
        include template\components\index-pug-components\header.pug
        
        section.section-main-grid-columns

          //- Grid-Row ==> 1
          include template\layout\grid-row-1\main-grid-row-1.pug
          
          //- Grid-Row ==> 2
          include template\layout\grid-row-2\main-grid-row-2.pug

          //- Grid-Row ==> 3
          include template\layout\grid-row-3\main-grid-row-3.pug

          //- Grid-Row ==> 4
          include template\layout\grid-row-4\main-grid-row-4.pug

        include template\components\index-pug-components\footer.pug

    script(src="public/JS/scripts.js")
