.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn A-18
    .body-wrap-btn.body-wrap-btn-A18  <!-- Equiqueta unica --> 
      a.btn-6.btn-A18(href='#')
        | Hover me!
        span.span-btn-A18 

    .footer-wrap-btn
