.wrappers-grid
  .wraps-btn
    .header-wrap-btn
    .body-wrap-btn.body-wrap-btn-C12  <!-- Equiqueta unica --> 
      a.btn-C12 <!-- Equiqueta unica --> 
        span.span-C12-1.span-C12 Hover me!
        span.span-C12-2.span-C12 Hover me!
        span.span-C12-3.span-C12 Hover me!
        span.span-C12-4.span-C12 Hover me!

    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
