.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn A-1
    .body-wrap-btn.body-wrap-btn-A1  <!-- Equiqueta unica --> 
      a(href="/").btn-A1  <!-- Equiqueta unica -->
               
    .footer-wrap-btn
