link(rel="stylesheet", href="public/css/normalize.css")
link(rel="stylesheet", href="public/css/font-Montserrat.css")
link(rel="stylesheet", href="public/css/font-Confortaa.css")
link(rel="shortcut icon", href="public/svg/favicon.svg", type="image/x-icon")
link(rel="stylesheet", href="public/css/styles.css")