.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn D-12
    .body-wrap-btn.body-wrap-btn-D12  <!-- Equiqueta unica --> 
      a(href="/").btn-D12 Hover me! <!-- Equiqueta unica --> 
        span.span-D12-1.span-D12
        span.span-D12-2.span-D12
        span.span-D12-3.span-D12
        span.span-D12-4.span-D12
    .footer-wrap-btn
    //- Propuesta de futuro: asocar a carpetas y crae un visor
    //- del codigo + descarga del mmismo
