/* ########################### */
/* ###### GLOBAL STYLES ###### */
/* ########################### */

:root{
	/*--- Typography variables ---*/
--body-font: 'Montserrat', sans-serif;
--heading-font: 'Comfortaas', sans-serif;

	/*--- Sizes variables ---*/
--h1-font-size: 3rem;
--h2-font-size: 2.75rem;
--h3-font-size: 2.5rem;
--normal-font-size: 1.25rem;
--small-font-size: 1rem;
--smaller-font-size: 0.75rem;
--heading-height: 4.5em;
--body-line-height: 1.6;
--border-radius: 0.25rem;
--gap: 1rem;

	/*--- Colors variables ---*/
--color-first: hsl(205, 100%, 70%);
--first-color: var(--color-first);

--color-second: hsl(215, 100%, 70%);
--second-color: var(--color-second);

--color-text: hsl(0, 0%, 100%);
--text-color: var(--color-text);

--color-body-bg:hsl(0, 0%, 96%);
--body-bg: var(--color-body-bg);

--color-dark-bg: hsl(0, 0%, 70%);
--bg-color-dark: var(--color-dark-bg);

	/*--- Z-index variables ---*/
--z-back: -10;
--z-normal: 1;
--z-tooltip: 10;
--z-fixed: 100;
--z-modal: 1000;
	
// --color-first-alt: ;
// --color-second-alt: ;
// --color-third: ;
// --color-third-alt: ;
// --color-fourth: ;
// --color-fourth-alt: ;
// --color-accent: ;
// --color-accent-alt: ;
// --color-light: ;
// --color-dark: ;
// --color-dark-alt: ;
// --color-border: ;
// --color-text-light: ;
// --first-color-alt: var(--color-first-alt);
// --second-color: var(--color-second);
// --second-color-alt: var(--color-second-alt);
// --third-color: var(--color-third);
// --third-color-alt: var(--color-third-alt);
// --fourth-color: var(--color-fourth);
// --fourth-color-alt: var(--color-fourth-alt);
// --accent-color: var(--color-accent);
// --accent-color-alt: var(--color-accent-alt);
// --light-color: var(--color-light);
// --dark-color: var(--color-dark);
// --dark-color-alt: var(--color-dark-alt);
// --border-color: var(--color-border);
// --color: var(--color-first);
// --color-alt: var(--color-first-alt);
}

*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	counter-reset: section;
}

.main{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

.main-header{
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: var(--first-color);
	height: var(--heading-height)
}

.main-nav{
	display: flex;
	flex-direction: row;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: space-between;
	max-width: 1800px;
	width: 100%;
	height: 100%;
}

.link-logo{	
	text-decoration: none;
	display: block;
}

.svg-logo{
	display: block;
	width: auto;
	height: var(--h1-font-size);
}

.main-title{
	color: var(--text-color);
	font-weight: 400;
	font-size: var(--h1-font-size);
	font-family: var(--heading-font);
	font-weight: 200
}

.mainContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color:var(--body-bg);
}
.main-footer{
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: var(--bg-color-dark);
}
.wrapper-footer{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1800px;
	width: 100%;
	height:1.5rem;

}

.text-footer{
	display: flex;
	align-content: center;
	color: var(--text-color);
	font-family: var(--body-font);
	font-size: var(--smaller-font-size);
	letter-spacing: 2px;

	&::after{
		content: url(public/img/favicon.svg);
		display: block;
		width: var(--small-font-size);
		margin-left: 5px;
	}
}

/* ----------------------------------- */
/* --- CSS structure of the button --- */
/* ----------------------------------- */

.btn{
	display: block;
	position: relative;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	font-weight: 400;
	text-decoration: none;
	color: var(--text-color);
	width: 210px;
	height: 70px;
	perspective: 1000px;
}

.btn-content{
	transform-style: preserve-3d;
	height: 100%;
	width: 100%;
	transition: all .2s ease-in-out;

	&:hover{
		transform: rotateX(-90deg);
	}
}

.face-span{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-align: center;
	--bg-color-btn: linear-gradient(45deg, rgba(250,63,0,1) 0%, hsl(327, 96%, 56%) 100%);

	&:nth-child(1){
		background: var(--bg-color-btn);
		transform: translate3d(0,0,30px);
	}
	&:nth-child(2){
		background: var(--bg-color-btn);
		transform: translate3d(0,0,30px);
		transform: rotateX(90deg) translate3d(0,0,30px);
	}
}