.btn-D1 {
  display: block;
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  padding: var(--normal-paddings);
  text-decoration: none;
  border-radius: var(--border-radius);
  background-image: linear-gradient(
    90deg,
    red,
    yellow,
    lime,
    cyan,
    blue,
    magenta,
    red
  );
  background-size: 700%;

  &:hover {
    animation: bgCarousel 60s linear infinite;
  }
}

@keyframes bgCarousel {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 700%;
  }
}
