.wrappers-grid
  .wraps-btn
    .header-wrap-btn
      p.tag-btn A-19
    .body-wrap-btn.body-wrap-btn-A19  <!-- Equiqueta unica --> 
      a(href="/").btn-A19 Hover me! <!-- Equiqueta unica -->
               
    .footer-wrap-btn
